{%extends 'index.html'%}
{%load static%}


{% block content %}
<div class="container">
    <div class="d-flex flex-column">
        <p class = "m-auto p-2">
            We've emailed you instructions for setting your password,
            if an account exists with the email youve entered. 
        </p>
        <p class = "m-auto p-2">
           If you dont recieve an email make sure the email is correct, and check your spam 
        </p>
        <p class = "m-auto p-2"><a href="{% url 'index'%}"></a>
        </p>
    </div>
</div>
  {% endblock content %}